---
import 'tailwindcss/tailwind.css';
import '@fontsource/roboto/400.css';
import '@fontsource/roboto/500.css';
import '@fontsource/roboto/700.css';

import storage from '../../lib/localStorage.ts';

const proxy = storage.get('proxy');
---

<style type="text/css">
    #games div {
        transition: 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    }

    #games div:hover {
        transform: scale(+1.021) translateY(-2%);
        filter: brightness(86%);
    }
    .game {
        width: 200px;
        height: 150px
        border-radius: 10px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: -50% 50%;
    }
    #minecraft {
        background-image: url(/game-icons/minecraft.jpeg);
    }
    #minigiants {
        background-image: url(/game-icons/minigiants.jpeg);
    }
    #dinogame {
        background-image: url(/game-icons/dinogame.jpeg);
    }
    #passwordgame {
        background-image: url(/game-icons/thepasswordgame.jpeg);
    }
    #slope {
        background-image: url(/game-icons/slopegame.jpeg);
    }
    #houseofhazards {
        background-image: url(/game-icons/houseofhazards.jpeg);
    }
    #janissarybattles {
        background-image: url(/game-icons/janissarybattles.jpeg);
    }
    #janissarytower {
        background-image: url(/game-icons/janissarytower.jpeg);
    }
    #motox3m {
        background-image: url(/game-icons/motox3m.jpeg);
    }
    #btd5 {
        background-image: url(/game-icons/btd5.jpeg);
    }
    #geodash {
        background-image: url(/game-icons/geodash.jpeg);
    }
</style>
<body 
    class="bg-[#2f2f2f] w-full min-h-screen flex flex-col justify-center items-center gap-[28px]"
>
    <div
        class="w-full h-[65%] flex flex-row justify-center items-center gap-[20px] flex-wrap overflow-y-visible"
        id="games"
    >
        <div id="minecraft" title="Minecraft" class="game"></div>
        <div id="minigiants" title="MiniGiants.io" class="game"></div>
        <div id="dinogame" title="Chrome dinosaur game" class="game"></div>
        <div id="passwordgame" title="The Password Game" class="game"></div>
        <div id="slope" title="Slope Game" class="game"></div>
        <div id="houseofhazards" title="House of Hazards" class="game"></div>
        <div id="janissarybattles" title="Janissary battles" class="game"></div>
        <div id="janissarytower" title="YouTube (social media)" class="game"></div>
        <div id="motox3m" title="Motox3m" class="game"></div>
        <div id="btd5" title="Bloons tower defense 5" class="game"></div>
        <div id="geodash" title="Geometry Dash" class="game"></div>
    </div>
</body>