---
import 'tailwindcss/tailwind.css';
import '@fontsource/roboto/400.css';
import '@fontsource/roboto/500.css';
import '@fontsource/roboto/700.css';
---

<style type="text/css">
    .game {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 150px;
        background-color: #4f575e;
        border-radius: 25px;
        transform: none;
        filter: none;
        box-shadow: none;
        transition: 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    }
</style>

<body 
    class="bg-[#080d0f] w-full min-h-screen flex flex-col justify-center items-center gap-[28px]"
>
    <div
        class="w-full h-[65%] flex flex-row justify-center items-center gap-[20px] flex-wrap overflow-y-visible"
        id="games"
    >
        <!-- put stuff here -->
    </div>
</body>